{% extends 'base.html.twig' %}

{% block title %}Nft Bids{% endblock %}

{% block body %}
<<<<<<< HEAD
<h1>Home Page</h1>

{% for nft in nfts %}
    <h2>NFT: {{ nft.nftName }}</h2>
    <p>ID: {{ nft.id }}</p>
    <p>Creation Date: {{ nft.nftCreationDate.format('Y-m-d H:i:s') }}</p>
    <p>Initial Price: {{ nft.initialPrice }}</p>
    <p>Is Available: {{ nft.isAvailable ? 'Yes' : 'No' }}</p>
    <p>Quantity: {{ nft.quantity }}</p>
    <p>Actual Price: {{ nft.actualPrice }}</p>
    <p>NFT Flow ID: {{ nft.nftFlow.id }}</p>
    <h3>Categories:</h3>
    {% if nft.categories|length > 0 %}
        <ul>
            {% for category in nft.categories %}
                <li>{{ category.name }}</li>
                
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories available for this NFT.</p>
    {% endif %}
    <h3>NFT Images:</h3>
    {% if nft.nftImage|length > 0 %}
        <ul>
            {% for image in nft.nftImage %}
                <li>
                <div class="col-md-4">
								<img src="{{vich_uploader_asset(image)}}" class="img-fluid rounded-start" alt="nft photo">
							</div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class= 'text-danger'>No image for this Nft</p>
    {% endif %}
{% endfor %}
<button>Get Started</button> 
=======
<H1>Discover Nft Collections and Own an Nft</H1>
{% for nft in nfts %}
    <ul>
    <li>{{nft.nftName}}</li>
    <li>{{nft.initialPrice}}</li>
    {# <li>{{nft.isAvailabe}}</li> #}
    <li>{{nft.quantity}}</li>
    <li>{{nft.actualPrice}}</li>
    {# <li>{{nft.nftFlow}}</li> #}
    {# <li>{{nft.categories}}</li> #}
    {# <li>{{nft.nftImage}}</li> #}
    </ul>
{% endfor %}
<button>Get Started</button>
>>>>>>> 44fb34453f1112ec273fdc3c6685153d97a70059
{% endblock body %}
